{% extends 'base.html' %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-white rounded mt-5">

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left ">
                 <!-- separate the firstname and the lastname -->
                <h5 class="text-left text-">{{userName[0]}} <b>{{userName[1]}}</b></h5>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn bg-orange rounded text-white p-1 pl-3 pr-3" href="/edit/{{user.id}}">Editer</a>
            </div>

        </div>
       
    
    

    </div>
    

</div>

<div class="container card shadow p-3 mb-5 bg-white rounded mt-5">

    <h5 class="container border-bottom font-weight-bold pb-3">EDITION</h5>
    <form action="/edit/{{ user.id }}" method="POST"> 
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 text-right border-right font-weight-bold">
                    <p class="pb-1 pt-1">Prénom & Nom</p>
                    <p class="pb-1">Téléphone</p>
                    <p class="pb-1">Email</p>
                    <p class="pb-1">Adresse</p>
                    <p class="pb-1">Code postal</p>
                    <p class="pb-1">Ville</p>
                </div>
                <div class="col-md-6 text-left">
                    <p><input type="text" name="name" value="{{ user.name }}"></p>
                    <p><input type="text" name="phone" value="{{ user.phone }}"></p>
                    <p><input type="mail" name="email" value="{{ user.email }}"></p>
                    <p><input type="text" name="adress" value="{{ user.adress }}"></p>
                    <p><input type="text" name="zipCode" value="{{ user.zipCode }}"></p>
                    <p><input type="text" name="city" value="{{ user.city }}"></p>
                </div>
            </div>
        </div>
        <div class="container border-top text-right p-3">
            <!-- cancel button -->
            <a class=" btn bg-white border rounded text-secondary p-1 pl-3 pr-3" href="/voir/{{ user.id }}">Annuler</a>
            <input class="btn bg-success rounded text-white p-1 pl-3 pr-3" type="submit" value="Enregistrer">
        </div>
        
    </form>

</div>

{% endblock %}