{% extends 'base.html' %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-white rounded mt-5 border">

    <h5 class="text-left text-">Recherche d'une fiche de contact</h5>

</div>

<div class="container shadow p-3 mb-5 bg-white rounded mt-5 border">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h6 class="font-weight-bold">Renseignez un nom ou une dénomination</h6>
            <form action="/" method="POST">
                <input class="w-50" type="text" name="name" placeholder="Nom de votre contact"><br>
                <input class=" btn bg-orange text-white p-1 pl-3 pr-3 rounded  mt-1" type="submit" value="Rechercher">
            </form>
        </div>
    </div>
</div>
    <table class="table container shadow p-3 mb-5 bg-white rounded mt-5 border">
        <tr>
            <thead class=" bg-light">
                <th>Prénom & Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th></th>
            </thead>
        </tr>
        {% if contacts %}
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.adress }}</td>
                <td>{{ contact.zipCode }} {{ contact.city }}</td>
                <td>{{ contact.phone }}</td>
                <td><a class="btn rounded-pill bg-primary text-white p-1" href="/voir/{{contact.id}}">Voir</a></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Aucun contact trouvé</td>
            </tr>
        {% endif %}
    </table>
<div>



</div>

{% endblock %}
