{% extends 'base.html' %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-white rounded mt-5">

    <h5 class="text-left text-">Recherche d'une fiche de contact</h5>

</div>

<div class="container shadow p-3 mb-5 bg-white rounded mt-5">
    <h6 class="">Renseigner un nom ou une dénomination</h6>
    <form action="/",method="POST">
        <input type="text" name="nom" placeholder="Nom de votre contact">
        <input type="submit" value="Rechercher">
    </form>

</div class="container shadow p-3 mb-5 bg-white rounded mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Prénom & Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.adress }}</td>
                <td>{{contact.zipCode}} {{ contact.city }}</td>
                <td>{{ contact.phone }}</td>
                <td><a href='/voir.html/{{conctat.id}}'>Voir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<div>



</div>

{% endblock %}
